.footer {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 40px;
    position: sticky;
    /* Footer sticks at the bottom of the page when scrolling */
    bottom: 0;
    z-index: 50;
    height: 4vh;
}


.footer-text {
    color: #fff;               /* White text color */
    font-size: 18px;           /* Font size for the text */
}
